.hamburguer-sidenav:hover{
    color: #E91E63;
    transition: .3s ease;
}


.hamburguer-sidenav{
    color: white;
    transition: .3s ease;
    /* padding: 0.1em; */
}
.hamburguer-sidenav .material-icons{
    font-size: 2.5em !important;
}

.sidenav-li a .fa, .sidenav-li a .far, .sidenav-li a .fas{
    color: #E5C217;
}
.sidenav-li a {
    
}
.sidenav-li{
    height: 8%;
}
.sidenav-li:first-of-type{
    margin-top: 5%;
}
.sidebar-header{
    width: 100%;
    background-color: #FAEDD1;
    padding-bottom: 5%;
}
.sidebar-header .header-left{
    /* background-color: blue; */
    width: 40%;
    font-size: 1.5em;
    font-weight: 400;
    font-family: 'Oswald', sans-serif;
    margin-top: 10%;
}
.sidebar-header .header-left span{
    text-transform: uppercase;
    color: #E5C217;
}
.sidebar-header .header-right{
    /* background-color: red; */
    width: 60%;
}
.sidebar-header .header-right .sidebar-header-picture{
    margin-top: 12%;
    margin-left: 45%;
}
.sidebar-header .header-right .sidebar-header-picture img{
    width: 6em;
    height: 6em;
}
.sidebar-header .header-right .sidebar-header-info{
    top:50%;
}
.sidebar-header-account{
    /* background-color: #FFF; */
    align-items: center;
    text-align: right;
    font-size: 1.1em;
    font-weight: 600;
}
.sidebar-header-account span{
    margin-right: 3%;
    cursor: pointer;
}

.accordion-account{
    /* background-color: red; */
    padding-bottom: 3em;
}
.collapsible-accordion li .collapsible-body{
    /* position: absolute; */
}
.item-nav-dd{
    padding-right: 0%;
}
.nav-accordion-body{
    margin-left: 15%;
}
.datatable-crud-demo .table-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.datatable-crud-demo .product-image {
    width: 100px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.datatable-crud-demo .p-dialog .product-image {
    width: 150px;
    margin: 0 auto 2rem auto;
    display: block;
}

.datatable-crud-demo .confirmation-content {
    display: flex;
    align-items: center;
    justify-content: center;
}